.cajatex01
  background-color: #1565C0
  border-radius: 8px

.med01
  width: 926px
  height: 486px

.bgImg1
  background-image: url("../assets/template/banner01.svg")
  background-size: auto
  background-repeat: no-repeat
  background-position: center

.bgimg2
  background-color: white !important

.cajamarilla
  margin: 20px 
  padding: 25px
  float: left

.imgamarilla
  margin: 20px 80px
  padding: 10px
  width: 200px
  height: 132px
  float: right

.colortab
  background-color: #9EF2FD

.medidatab
  width: 378px
  height: 378px

.medidatab2
  width: 389px
  height: 310px

.medidatab3
  width: 304px
  height: 236px

.opacidadcolor
  background-color: #FFE490

.opacidadblue
  background-color: #ACF1FA
  float: left
  margin: 3%
  height: auto

.alineartex
  text-align: left
  margin: 2%
  padding: 6%
  width: 60%
  height: 40%

.imgtem01
  margin: 5%
  align-content: right
  border-radius: 30%
  height: 20%
  width: 20%