.cajatex01
  background-color: #1565C0
  border-radius: 8px

.med01
  width: 926px
  height: 486px

.bgImg1
  background-image: url("../assets/template/banner01.svg")
  background-size: auto
  background-repeat: no-repeat
  background-position: center

.bgimg2
  background-color: white !important
